* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f8f8;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    padding-left: 0;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    padding:5px;
    padding-left: 30px;
    color: #333;
    background-color: #aaeae5;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li {
    margin-left: 10px;
}
nav ul li a {
    color: #fff;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    border-color: #aaeae5;
}
nav ul li a:hover {
    background-color: #fff;
    color: #333;
}
main {
    padding: 20px;
}
p {
    margin: 10px 0;
}
a {
    border-bottom: 3px solid #333;
    text-decoration: none;
}
.hero {
    height: 200px;
    position: relative;
    overflow: hidden;
}
.hero img {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: .5;
}
.hero h2 {
    background-color: #aaeae5;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px;
}
section {
    margin-bottom: 40px;
}
.container {
    display: flex;
    width: 100%;
}
.container .left {
    border-right: 3px solid;
    padding-right: 10px;
    text-align: right;
    width: 150px;
}
.container .right {
    padding-left: 20px;
    width: calc(100% - 150px);
}
.flex-container {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px
}
.job {
	flex: 1;
	order: 0;
    justify-content: space-between;
    align-items: center;
	width: 300px;
	height: 150px;
	position: relative; 
	border: 3px solid #aaeae5;
	overflow: hidden;
}
.job:hover {
	cursor: pointer;
}
.job.selected {
	flex: none;
	width: 100%;
	height: 400px;
	order: -1;
}
.job img {
	position: absolute;
	opacity: .3;
	width: 130%;
	height: auto;
}
.job:hover img {
	opacity: 1;
	transition: opacity 0.3s;
}
.job-description {
	position: absolute;
    left: 0;
    bottom: 10px;
    background-color: #aaeae5;
	padding: 5px;
}
.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.social-media > * {
    flex-grow: 1;
    text-align: center;
}
.social-media a {
    padding: 0 10px;
    margin: 0 10px;
    color: #333;
}
.social-media img {
    width: 50px;
    height: 50px;
}
@media (max-width: 800px) {
	.flex-container {
		display: block;
		flex-direction: column;
	}
	.job {
		width: 100%;
		margin-bottom: 10px;
	}
}